body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #0f1123);
  color: #f5c6f5;
  font-family: "Cascadia Code", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.terminal {
  background-color: transparent;
  padding: 2rem;
  width: 97%;
  max-width: 100rem;
  height: 95vh;
  /* border: 3px solid #ff9100; */
  /* box-shadow: 0 0 10px #ffffff; */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 20px;
  box-sizing: border-box;
}

.terminal::-webkit-scrollbar {
  display: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 0;
}

.prompt {
  margin-right: 0.5rem;
  color: #e87a64;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  color: #f5c6f5;
  font-family: "Cascadia Code", sans-serif;
  font-size: 19px;
  outline: none;
}

.cursor {
  width: 10px;
  height: 1.2rem;
  background: #e100ff;
  margin-left: 4px;
  animation: blink 1s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-out;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Media query untuk tablet (768px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 19px;
  }
  .terminal {
    padding: 1.8rem;
    border-width: 2.5px;
  }
  .input {
    font-size: 18px;
  }
  .cursor {
    width: 9px;
    height: 1.2rem;
  }
}
/* Tampilan mobile */
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
  .terminal {
    padding: 1rem;
    border-width: 2px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .input {
    font-size: 16px;
  }
  .cursor {
    width: 6px;
    height: 1rem;
  }
}
